@media only screen and (max-width: 750px) {
/* here, condense .wrapper from three columns to one column*/
  .col-1, .col-2, .col-3 {
    width: 100%;
    margin-left: 0;
    padding: 1%;
    float: none;  
  }

  .border-right {
    border: 0;
  }

  .col-3 p {
     -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

/* here, switch link alignment from horizontal to vertical*/
/* here, switch coder cred icon alignment from horizontal to vertical*/
   li { 
  list-style: none; /*removes bullets from <li>*/
  display: block; 
  margin: 0 auto; 
}

}
 



  